body {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.6;
  background-color: white;
  color: #333;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

header {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;
  font-size: 1.em;
}

header nav a {
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

header .logo img {
  max-height: 100px;
}

.logo {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 10px;
}

.logo img {
  width: auto;
  height: 70px;
}

.nav-container {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media (max-width: 1000px) {
  header {
    height: 50px;
  }
  header .container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    margin-top: -10px;
  }

  .logo {
    position: static;
    margin-bottom: 0px;
  }

  .logo img {
    height: 40px;
  }
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007bff;
}

footer {
  position: relative;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  overflow: hidden;
  bottom: 0;
  z-index: 1000;
  display: flex;
}
footer img {
  margin-left: 10px;
  width: 10vw;
}
footer p {
  margin-left: 22vw;
}
@media (max-width: 1000px) {
  footer {
    flex-direction: column;
  }
  footer p {
    margin-left: 0;
  }
  footer img {
    width: 30vw;
    margin-left: 35vw;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5vw;
  position: fixed;
  top: 4.5vh;
  right: 20vw;
  z-index: 999;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
  z-index: 1;
  left: 10vw;
  top: 100%;
}
@media (max-width: 1000px) {
  .dropdown-content {
    margin-left: 10vw;
    margin-top: -5vh;
  }
}
@media (max-width: 900px) {
  .dropdown-content {
    margin-left: 0;
    top: 100%;
  }
}
.dropdown-content.show {
  display: block;
}
.dropdown-content.hide {
  display: none;
}

.dropdown-content a {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #007bff;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.hamburger-menu .line {
  width: 100%;
  height: 4px;
  background-color: white;
}

.full-screen-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.full-screen-menu a {
  color: white;
  font-size: 2em;
  margin: 20px 0;
  text-decoration: none;
}

.full-screen-menu .dropdown {
  position: relative;
}

.full-screen-menu .dropdown-content {
  position: static;
  box-shadow: none;
  background-color: transparent;
  z-index: 9999;
}

.full-screen-menu .dropdown-content a {
  background-color: transparent;
  color: white;
  padding: 0;
}

.full-screen-menu .dropdown-content a:hover {
  background-color: transparent;
  color: #007bff;
}
.close-menu {
  position: absolute;
  top: 20px;
  right: 40px;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  color: white;
}

@media (min-width: 1001px) {
  .hamburger-menu {
    display: none;
  }
}
@media (max-width: 1000px) {
  nav a {
    display: none;
  }
  .dropbtn {
    top: 4vh;
  }
}
@media (max-width: 499px) {
  .dropbtn {
    right: 20vw;
    top: 3.8vh;
    font-size: 13px;
  }
}
.arrow {
  display: inline-block;
  transition: transform 0.3s;
}
